@charset "UTF-8";
/* === Переменные стилей === */
/* === common styles === */
* {
  margin: 0;
  padding: 0;
}

/* end === common styles === end*/
/* === wrapper === */
/* Обёртки - отдельный блок */
.wrapper {
  /* Контейнер для страницы определение 
    максимальной ширины содержимого + обнуление 
    margin*/
  max-width: 1600px;
  margin: 0 auto;
  /* Обёртка для прижатия подвала к нижней части */
}

.wrapper-forcontent {
  min-height: 100vh;
  /* 100 видимых высот */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-container {
  /* Контейнер для равных отступов от краёв контента*/
  padding: 0 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1600px;
}

/* end === wrapper === end */
/* === content-without-footer === */
/* Основная часть без footer */
.content-without-footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* Отношение блоков */
}

/*header*/
.bgcolor {
  background-color: #222222;
}

/*Фиксирование меню поверх блоков*/
.fixed-menu {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.padd-container {
  padding: 18px 0;
}

.disp-fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*Положение по краям*/
}

.left-side {
  /*Расположение по горизонтали*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Движение вправо margin*/
  /*движение вниз margin*/
  /*Задание цвета декоративному изображению*/
  /*Эффект наведения*/
  /*Эффект нажатия*/
}

.left-side-marg-cont {
  margin-right: 41px;
}

.left-side-search-form {
  margin-top: 10px;
  position: relative;
}

.left-side-search-form-inp {
  /*@include*/
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  color: #ffffff;
  text-transform: capitalize;
  left: 35px;
  top: -1px;
}

.left-side-search-form-inp:focus {
  width: 150px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.left-side-search-form-inp:focus ~ .left-side-search-label .left-side-search-svg {
  fill: gold;
}

.left-side-search-svg {
  fill: #E8E8E8;
}

.left-side-search-svg:hover {
  fill: red;
}

.left-side-search-svg:active {
  fill: #0f2999;
}

.right-side {
  /*Рассположение по горизонтали*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.right-side-crawling {
  /* убирает квадратик */
}

.right-side-crawling-menu {
  display: none;
  margin-top: 12px;
  margin-right: 33px;
  /*&:checked .bgcolor{
                background-color: red;
            }*/
}

.right-side-crawling-menu:checked ~ .right-side-crawling-btn .right-side-crawling-icon::after,
.right-side-crawling-menu:checked ~ .right-side-crawling-btn .right-side-crawling-icon::before {
  top: 0;
}

.right-side-crawling-menu:checked ~ .right-side-crawling-btn .right-side-crawling-icon {
  background-color: transparent;
}

.right-side-crawling-menu:checked ~ .right-side-crawling-btn .right-side-crawling-icon::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.right-side-crawling-menu:checked ~ .right-side-crawling-btn .right-side-crawling-icon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.right-side-crawling-menu:checked ~ .right-side-menu {
  display: block;
}

.right-side-crawling-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.right-side-crawling-icon {
  display: block;
  position: relative;
  background-color: #ffffff;
  width: 90%;
  height: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 30px;
  /* верхняя и нижняя палочка */
}

.right-side-crawling-icon::before, .right-side-crawling-icon::after {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.right-side-crawling-icon::before {
  top: 10px;
}

.right-side-crawling-icon::after {
  top: -10px;
}

.right-side-menu {
  display: none;
  width: 232px;
  max-height: 764px;
  background-color: #ffffff;
  position: absolute;
  padding-left: 33px;
  padding-top: 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 66px;
  left: 120px;
}

.right-side-menu-title {
  display: block;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 24px;
}

.right-side-menu-name {
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #F16D7F;
}

.right-side-menu-list {
  margin-left: 22px;
  list-style: none;
}

.right-side-menu-list-li {
  margin-bottom: 12px;
}

.right-side-menu-list-li:last-child {
  margin-bottom: 20px;
}

.right-side-menu-list-li a {
  text-decoration: none;
}

.right-side-account {
  background: transparent;
  /*Прозрачный задний фон*/
  border: none;
  /* Убирает рамку у button*/
  margin-top: 15px;
  margin-right: 25px;
  margin-left: 25px;
  /*Задание цвета декоративному изображению*/
  /*Эффект наведения*/
  /*Эффект нажатия*/
}

.right-side-account-svg {
  fill: #E8E8E8;
}

.right-side-account-svg:hover {
  fill: red;
}

.right-side-account-svg:active {
  fill: #0f2999;
}

.right-side-cart {
  background: transparent;
  /*Прозрачный задний фон*/
  border: none;
  /* Убирает рамку у button*/
  margin-top: 8px;
  /*Задание цвета декоративному изображению*/
  /*Эффект наведения*/
  /*Эффект нажатия*/
}

.right-side-cart-svg {
  fill: #E8E8E8;
}

.right-side-cart-svg:hover {
  fill: red;
}

.right-side-cart-svg:active {
  fill: #0f2999;
}

.bgcolorp {
  background: #F1E4E6;
}

.padd-title {
  padding: 374px 280px 381px 728px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/header-men.png);
  background-repeat: no-repeat;
  background-position-y: 107px;
}

.title-line {
  display: block;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  line-height: 58px;
  text-transform: uppercase;
  font-size: 48px;
}

.color-pink {
  color: pink;
}

/*end header end*/
/* end === content-without-footer === end */
/* === footer === */
/* Подвал */
/* end === footer === end */
/*# sourceMappingURL=style.css.map */