/* Catalog */

/* header */
.padding-title {
    padding: 143px 230px 60px 230px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.headercat {

    /*Заголовок header*/
    &-title {
        @include font-lato-normal-size-line(400, 24px, 29px);
        color: $lait-pink;
        text-transform: uppercase;
        text-decoration: none;
    }

    &-navlink {
        display: flex;
        list-style: none;
    }

    /*Хлебные крошки header*/
    &-breadcrumbs {
        @include font-lato-normal-size-line(700, 14px, 17px);
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 300;
        color: $gray-63;
        margin-top: 6px;
        margin-right: 5px;
    }
}

/*end header end*/

/*main*/

/*Секция 1 (Карточки)*/
.padd-card {
    padding: 51px 0 96px 0;
}

/*Фильтры*/
.list {

    &-filter {
        display: flex;
        list-style: none;
        margin-bottom: 64px;

        & li {
            display: block;
        }

        &-li {
            margin-right: 28px;

            &:first-child {
                margin-right: 320px;
            }
        }

        &-menu {
            border: none;
            max-width: 360px;
            max-height: 530px;
        }


        /* Убираем стандартный маркер Chrome */
        details summary::-webkit-details-marker {
            display: none;
        }

        &-title {
            @include font-lato-normal-size-line(400, 14px, 17px);
            text-transform: uppercase;
            color: $gray-63;

            &-one {
                @include font-lato-normal-size-line(400, 14px, 17px);
                text-transform: uppercase;
                font-weight: 600;
                color: $black-22;
            }

            details[open] summary {
                color: #EF5B70;
            }
        }

        &-svg {
            padding-left: 10px;
            padding-bottom: 1.5px;
            fill: #6F6E6E;

            &-one {
                padding-left: 10px;
                padding-bottom: 0px;
            }
        }
    }
}

/*end Фильтры end*/

/*Кнопка после карточек*/
.button-after-card {
    @include font-lato-normal-size-line(400, 16px, 19px);
    display: block;
    padding: 12px 15px;
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid $white-eb;
    background-color: white;
    font-weight: 300;
    color: $white-eb;
}

/*end Кнопка после карточек end*/
/*end Секция 1 (Карточки) end*/
/*end main emd*/

/*footer*/
.footer {
    &-part {
        &-icons:nth-child(2) {
            background-color: $lait-pink;
        }

        &-icons:nth-child(2) svg {
            fill: $white-fff;
        }

        /*Эффект наведения*/
        &-icons:nth-child(2):hover {
            background-color: $lait-pink;
        }

        &-icons:nth-child(2) svg:hover {
            fill: $dark-blue-1c0;
        }
    }
}

/*end footer end*/
/*end Catalog end*/