/* === 768px === */
@media (max-width: 768px) {
    .padding-title {
        padding: 143px 16px 60px;
    }

    .list-filter-li:first-child {
        margin-right: 358px;
    }

    .list-filter-li:last-child {
        margin-right: 0px;
    }

    .additional-content {
        &-sec-card {
            &:nth-child(3) {
                display: none;
            }
        }
    }
}

/*end === 768px === end*/

/* === 375px === */
@media (max-width: 375px) {
    .padding-title {
        padding: 110px 16px 46px;
        flex-direction: column;
        align-items: center;
    }

    .headercat-title {
        display: block;
        margin-bottom: 32px;
    }

    .padd-card {
        padding: 24px 0 65px 0;
    }

    .list-filter {
        margin-bottom: 32px;

        &-li {
            margin-right: 20px;
        }

        &-li:first-child {
            margin-right: 30px;
        }

        &-title {
            @include font-lato-normal-size-line(400, 12px, 14px);

            &-one-txt {
                display: none;
            }
        }

        &-svg-one {
            width: 38px;
            height: 25px;
        }
    }

    .additional-content-sec-img-edit {
        padding: 8px 92px 11px 108px;
    }
}

/*end === 375px === */