/* ================= 768px ================= */
@media (max-width:768px) {
    .wrapper {
        &-container {
            padding: 0 16px;
        }
    }

    .fixed-menu {
        max-width: 768px;
    }

    .disp-fl {
        padding: 0 32px;
    }

    .right-side-menu {
        left: -44px;
    }

    .padd-title {
        padding: 200px 0px 151px 297px;
        background-size: 50%;
        background-position-y: 91px;
        background-position-x: -42px;
    }

    .title-line {
        @include font-lato-normal-size-line(900, 35px, 53px);
    }

    .additional-content {
        &-first {
            padding-top: 20px;
            padding-bottom: 154px;
        }

        &-card {
            min-height: 168px;
            min-width: 232px;

            &:first-child {
                background-position: -83px 4px;
            }

            &:nth-child(2) {
                background-position: -40px;
            }

            &:last-child {
                background-position: -68px;
            }

            &-under {
                min-height: 117px;
                padding-top: 32px;
            }

        }

        &-txt {
            &:first-child {
                @include font-lato-normal-size-line(400, 16px, 20px);
            }

            &:last-child {
                @include font-lato-normal-size-line(700, 24px, 29px);
            }
        }

        &-sec {
            &-card {
                margin-bottom: 17px;
            }

            &-button {
                margin-bottom: 65px;
            }
        }

        &-third {
            &-contents {
                flex-direction: column;
                padding: 48px 210px 64px;
            }

            &-content {
                &:first-child {
                    margin: 0 0 48px 0;
                }

                &:last-child {
                    margin: 48px 0 0 0;
                }
            }
        }

        &-fourth {
            &-fl {
                flex-direction: column;
            }

            &-wrp {
                &:first-child {
                    padding: 0;
                    margin: 53px auto 48px;
                }

                &:last-child {
                    padding: 0;
                    margin: 0 auto 140px;
                }
            }

            &-title {
                @include font-lato-normal-size-line(400, 18px, 30px);
            }
        }
    }

    .footer-position {
        padding: 24px 32px;
    }
}


@media (max-width:375px) {

    .disp-fl {
        padding: 0 16px;
    }

    .right-side {
        margin: 0px 16px 20px 0;

        &-menu {
            top: 69px;
            left: -166px;
        }

        &-account {
            display: none;
        }

        &-cart {
            display: none;
        }
    }

    .padd-title {
        padding: 183px 56px 100px;
        background-image: none;
    }

    .title-line {
        @include font-lato-normal-size-line(700, 20px, 24px);
    }

    .additional-content {

        &-first {
            padding-bottom: 64px;
        }

        &-card {
            &-up {
                flex-direction: column;
            }

            min-width: 343px;
            min-height: 247px;
            margin-bottom: 32px;

            &:first-child {
                background-position: 0;
            }

            &:nth-child(2) {
                background-position: 0;
            }

            &:last-child {
                background-position: 0;
            }

            &-down {
                margin-top: 0;
            }

            &-under {
                min-height: 111px;
            }
        }

        &-third-contents {
            padding: 48px 16px 81px;
        }

        &-fourth {
            &-txt {
                @include font-lato-normal-size-line(400, 19px, 23px);
            }

            &-wrp {
                margin-bottom: 109px;

                &:first-child {
                    max-width: 100%;
                }
            }

            &-email {
                padding-right: 35px;
            }
        }
    }

    .footer {

        &-position {
            padding: 43px 62px 9px;
            flex-direction: column;
        }

        &-txt {
            order: 2;
            text-align: center;
        }

        &-part-socials {
            justify-content: center;
            margin-bottom: 40px;
        }
    }
}