/* === Переменные стилей === */


/* === common styles === */

/* end === common styles === end*/

/* === wrapper === */
/* Обёртки - отдельный блок */
.wrapper{

    /* Обёртка для прижатия подвала к нижней части */
    &-forcontent{
        min-height: 100vh; /* 100 видимых высот */
        display: flex;
        flex-direction: column;
    }
}
/* end === wrapper === end */



/* === content-without-footer === */
/* Основная часть без footer */
.content-without-footer{
    flex-grow:1; /* Отношение блоков */
}
/* end === content-without-footer === end */




/* === footer === */
/* Подвал */

/* end === footer === end */